@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("fonts/Montserrat-Bold.ttf");
}

* {
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
}

.main {
    min-width: 100vw;
    min-height: 100vh;
    background: rgb(20,20,20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__inner {
    padding: 15px;
    width: 90vw;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .main__inner {
        padding: 5px;
        width: 100vw;
    }     
}

.console {
    background: rgb(35,35,35);
    position: relative;
    transition: all 0.3s ease 0s;
    border: 2px rgb(15,15,15) solid;
    border-radius: 10px;

    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 140px;

    margin-bottom: 10px;
    margin-right: 10px;

}

@media (max-width: 767px) {
    .console {
        width: 100px;
        height: 70px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 767px) {
      
}

.console._anim {
    border-color: rgb(18, 178, 104);
    box-shadow: 0px 0px 20px 2px rgba(63, 165, 42, 0.25);
}

.console__inner {
    width: 100%;
    display: flex;
}

.console__buttons {
    padding: 5px;
    border-right: 2px solid rgb(15,15,15);
}

@media (max-width: 767px) {
    .console__buttons {
        padding: 2px;
    }
}

.console__button {
    user-select: none;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    cursor: pointer;
    background: none;
    border: 1px white solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    outline: none;
    color: white;
}

@media (max-width: 767px) {
    .console__button {
        height: 15px;
        width: 15px;
        font-size: 7px;
    }     
}

.console__button:hover {
    background: white;
    color: black;
}

.console__name {
    user-select: none;
    position: absolute;
    width: calc(100% - 42px);
    border-top-right-radius: 7px;
    height: 20px;
    background: rgb(15,15,15);

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .console__name {
        width: 80px;
        height: 10px;
    }      
}

.console__title {
    color: white;
    font-size: 12px;
}

@media (max-width: 767px) {
    .console__title {
        font-size: 6px;
    }     
}

.console__date {
    bottom: 0px;
    user-select: none;
    position: absolute;
    width: calc(100% - 42px);
    border-bottom-right-radius: 7px;
    height: 20px;
    background: rgb(15,15,15);

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .console__date {
        width: 80px;
        height: 10px;
    }      
}

.console__console {
    width: 100%;
}

.console__text {
    margin-top: 20px;
    overflow-y: auto;
    height: 102px;
    font-weight: bold;
    padding: 5px;
    width: calc(100% - 10px);
    overflow-wrap: break-word;
}

@media (max-width: 767px) {
    .console__text {
        height: 48px;
        margin-top: 10px;
        font-size: 6px;
    }    
}

.console__info {
    color: rgb(15, 194, 250);
}

.console__error {
    color: rgb(236, 121, 116);
}

.console__msg {
    color: black;
}